
<%@groups.each do |g|%>
<p>
    <%if g.image.attached?%>
        <%= image_tag g.image, class: 'category-image'%>
    <%end%>
    <%= link_to g.name, user_group_entities_path(@user, g.id) %>
    <%= number_to_currency g.entities.where(user: current_user).sum(:amount)%>
</p>
<%end%>

<%= link_to 'Add new Category', new_user_group_path(@user)%>
