<%@groups.each do |g|%>
<p>
    <%if g.image.attached?%>
    <%= image_tag g.image, class: 'category-image'%>
    <%end%>
    <%= link_to g.name, user_group_entities_path(@user, g.id) %>
</p>
<%end%>

<%= link_to 'Add new Category', new_user_group_path(@user)%>
