/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --primrycolor: #3778c2;
  --scndrycolor: #5fb523;
  --fontcolor: #434b54;
  --appfont: "Roboto", sans-serif;
}

-- .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.category-image {
  width: 60px;
  height: 60px;
}
.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-logo {
  font-family: var(--appfont);
  font-weight: 700;
  padding-top: 50%;
  font-size: 3rem;
  color: var(--fontcolor);
}
.splash-btn {
  position: absolute;
  bottom: 0%;
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 0 15px;
}
.login-btn {
  background-color: var(--primrycolor);
  color: #fff;
  height: 50px;
  font-size: 1.2rem;
  padding-top: 10px;
  font-weight: 300;
}
.signup-btn {
  color: var(--fontcolor);
  height: 50px;
  font-size: 1.2rem;
  padding-top: 10px;
  font-weight: 300;
}
